<nav
  id="sidebarMenu"
  class="d-md-block bg-light sidebar-nav dashboard-sidebar collapse"
>
  <div class="position-sticky pt-3 d-flex flex-column h-100">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="../admin/dashboard.html">
          <i class="bi bi-grid-1x2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/users/index.html">
          <i class="bi bi-people"></i> User Management
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/reports.html">
          <i class="bi bi-flag"></i> Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/analytics.html">
          <i class="bi bi-bar-chart-line"></i> Analytics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/settings.html">
          <i class="bi bi-gear"></i> System Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../admin/profile.html">
          <i class="bi bi-person-gear"></i> Admin Profile
        </a>
      </li>
    </ul>
  </div>
</nav>
