/*
 * Tindog FAQ Page Styles
 *
 * This file contains styles specific to the FAQ page.
 */

.accordion-button {
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: #ff4c68;
  color: #fff;
}
