.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

#title {
  padding-top: 5;
}

#features {
  margin-top: 5;
}

#testimonial {
  background-color: #e9ecef;
  text-align: center;
  padding: 5rem 0px 3rem 0px;
}

#pricing {
  padding: 5rem 0px 3rem 0px;
}

.testimonial-dog {
  border-radius: 50%;
  height: 100px;
  margin: 2rem 0px 0px 0px;
}

.testimonial-image {
  height: 30px;
}

.navbar-glass {
  background: rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
