/*--------------------------------------------------------------
# STYLES FOR: index.html
#
# Contains unique styles for the homepage sections like
# the hero, features, and testimonials.
--------------------------------------------------------------*/
#title {
  padding-bottom: 0;
}

#title .container {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.hero-iphone-img {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.hero-iphone-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

#testimonial {
  background-color: var(--background-light);
  text-align: center;
  padding: 5rem 1.5rem;
}

#testimonial img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 1rem 0;
}

#testimonial .company-logo {
  width: auto;
  height: 30px;
  border-radius: 0;
  margin: 1rem;
}

#pricing {
  padding: 5rem 1.5rem;
}

#features .icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
