/* Global CSS */
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* TODO: Use for later */
/* .navbar-glass {
  background: rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); For Safari Support

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
} */
